<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ValdacBeta.dao.KikiMapper">
    <select id="findAllKiki" resultType="Kiki">
        select * from kiki
    </select>

    <select id="findKikiById" parameterType="string" resultType="Kiki">
        select * from kiki where kikiId=#{kikiId}
    </select>

    <select id="findKikiBySysId" parameterType="int" resultType="Kiki">
        select * from kiki where kikiSysId=#{kikiSysId}
    </select>

    <insert id="insertKiki" parameterType="Kiki">
        insert into kiki(KikiSysId, kikiBunrui, kikiBunruiSeq, kikiNo, kikiMei, syukan, makerRyaku, maker, katasikiNo, serialNo, orderNo, bikou, imageId, trkDate, updDate)
         values(
                #{kikiSysId},
                #{kikiBunrui},
                #{kikiBunruiSeq},
                #{kikiNo},
                #{kikiMei},
                #{syukan},
                #{makerRyaku},
                #{maker},
                #{katasikiNo},
                #{serialNo},
                #{orderNo},
                #{bikou},
                #{imageId},
                #{trkDate},
                #{updDate}
                )
    </insert>

    <select id="getLastInsertId" resultType="int">
        select kikiId from kiki ORDER BY kikiId DESC limit 1
    </select>

</mapper>